.custom-button {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans Condensed';
  font-size: 1rem;
  font-weight: bolder;
  height: 3rem;
  letter-spacing: 0.5px;
  line-height: 3rem;
  margin: 1rem 1rem 0 0;
  padding: 0 0.5rem;
  text-transform: uppercase;
  width: 12rem;

  &.transparent {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
  }

  &:hover {
    background-color: white;
    color: black;
  }
}
